@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Mono', monospace;
}

.dark-btn{
    background-color: #232323;
    color: white;
}
button{
    border: none;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.light-btn{
    background-color: white;
    color:#363738;
}

.white-dot{
    height: 24px;
    width: 24px;
    background-color: #ffffff;
    border-radius: 50%;
}

/******************* Hero Section **********************/
.hero-parent{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.hero-left{
    display: flex;
    width:50%;
    background-image: url(/assets/images/se2.jpeg);
    background-size: cover;
}


.color-overlay{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width:100%;
    height: 100%;
    background-color: #28eea9e9;
    background-size: cover;
    padding: 120px 0 60px 0;
}

.hero-section-left-wrapper{
    height: 240px;
    width: 609px;
    max-height: 598px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 25px 0 70px;
    text-align: right;
    margin-top:100px;
    margin-right: 20px;
}

.hero-title-left{
    height: 96px;
    width: 410px;
    display: flex;
    flex-direction: column;
    font-weight: 900;
    text-align: right;
    text-transform: uppercase;
    line-height: 36px;
}

.hero-left-first-span{
    background-color: #232323;
    color:white;
    font-size: 24px;
    padding: 0 10px 0 10px;
    width: 260px;
    align-self: flex-end;
}

.hero-left-second-span{
    font-size: 36px;
    color: white;
}
.hero-left-second-span::after {
    content: '';
    position: absolute;
    animation: blink 0.5s linear infinite;
  }
  
      @keyframes blink {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

.hero-description-left{
    height: 96px;
    width: 488px;
    margin: 40px 0 40px 0;
    text-align: right;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
}

.hero-left-btn{
    height: 46px;
    width: 155px;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: 42px;
}


.hero-right{
    display: flex;
    width:50%;
    padding: 120px 0 60px 0;
    background-image: url(/assets/images/se1.jpeg);
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-section-right-wrapper{
    height: 240px;
    width: 609px;
    max-height: 598px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 25px 0 50px;
    text-align: left;
    margin: 85px 70px 0 0;
}

.hero-title-right{
    text-transform: uppercase;
    text-align: left;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    height: 96px;
    width: 400px;
    margin-bottom: 30px;
}

.hero-right-first-span{
    background-color: #ffffff;
    color:#363738;
    font-size: 24px;
    padding: 0 10px 0 10px;
    display: inline;
    width: 200px;
    
}

.hero-right-second-span{
    font-size: 36px;
    color: white;
    width: 480px;
}

.hero-description-right{
    height: 96px;
    width: 488px;
    font-size: 16px;
    text-align: left;
    margin-bottom: 25px;
    color: white;
}

.hero-right-btn{
    height: 46px;
    width: 155px;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 25px;
    margin-left: 45px;
}

/******************* Nav bar **********************/
.navigation-tab{
    height: 50px;
    width: 100vw;
    padding: 0 70px 0 70px;
    display: flex;
    position: absolute;
    top:70px;
    bottom:463px;
    justify-content: space-between;
    gap:890px
}
.hero-logo{
    overflow: clip;
    cursor: pointer;
    height: 50px;
    width: 187px;
}
.ham-menu-btn{
    background-color: #363738;
    display: flex;
    justify-content: center;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    padding: 10px;
}
.ham-menu{
    height: 36px;
    width: 36px;
    vertical-align: middle;
}

.modal {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #35353585;
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 8px;
    width:100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.modal-container{
    display: flex;
    gap:400px;
    justify-content: center;
    align-items: center;
}

.close {
    position: absolute;
    font-size: 40px;
    cursor: pointer;
    color:#cccccc;
}

.modal-close-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-left li{
    list-style: none;
    color:#cccccc;
    font-weight: 800;
    line-height: 30px;
}
.modal-left li:nth-child(1){
    color:#28eea7;
}

.modal-right{
    width:500px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:30px;
    margin-top: 100px;
}

.account{
    background-color: #232323;
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    gap:80px;
}

.account-texts{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.account-title{
    color:white;
}

.account-texts > p{
    color:#a5a6a9;
}

.modal-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.modal-first-btn,
.modal-second-btn{
    height: 40px;
    width: 400px;
    font-weight: 800;
}
.modal-first-btn{
    background-color: #28eea7;
}

.block {
    display: block;
}

/******************* Hello World Section **********************/
.section-b-hello-world{
    height: 880px;
    width: 100vw;
    padding: 70px 0 70px 0;
    background-color: #f1f2f3;
}

.hello-world-container{
    height: 740px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.youtube-wrapper{
    height: 634px;
    width: 1076px;
    margin: 50px 0 0 0;
    display: flex;
}

.youtube-container{
    height: 634px;
    width: 1076px;
    border: 15px solid #28eea7;
    position: relative;
    border-radius: 20px;
}

.youtube-frame{
    position: absolute;
    height: 605px;
    width: 1047px;
    border: 0px inset #363738;
}

.helloworld-title{
    margin-left: 70px;
    width: auto;
    padding-right: 40px;
    padding-left: 40px;
}


/******************* Milestones Section **********************/
.section-b-milestones{
    height: 705px;
    width: 100vw;
    padding: 70px 0 70px 0;
    background-color: #ffffff;
}

.milestones-container{
    height: 566px;
    width: 100%;
    padding: 0 70px 0 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.milestones-grid{
    display: flex;
    height: 460px;
    width: 1076px;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.milestones-left{
    height: 459px;
    width: 528px;
}

.milestones-success-rate{
    background-color: #f1f2f3;
    width: 528px;
    height: 459px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
    padding: 60px 70px 60px 70px;
    border-radius: 20px;
}
.milestones-success-rate > h2{
    font-size: 120px;
    font-weight: 900;
    line-height: 120px;
    text-align: center;
    height: 120px;
    width:216px;
    color:#363738;
}

.sucesss-employment{
    color:#363738;
    text-align: left;
    font-size: 32px;
    font-weight: 900;
}

.success-lists{
    height: 73px;
    width: 388px;
    color:#363738;
    display: flex;
    flex-direction: column;
}

.success-lists > p{
    line-height: 21px;
    font-size: 14px;
    text-align: left;
    margin: 0 0 10px 0;
}

.milestones-right{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.miletones-upper{
    height: 209px;
    width: 528px;
    display: flex;
    gap:20px;
}

.miletones-lower{
    display: flex;
    height: 231px;
    width:528px;
    gap:20px;
}

.trained{
    background-color: #f1f2f3;
    height: 208px;
    width: 310px;
    padding: 40px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.milestones-h{
    font-size: 64px;
    font-weight: 900;
}

.hiring-countries{
    background-color: #f1f2f3;
    height: 208px;
    padding: 40px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    width: 197px;
    border-radius: 20px;
}

.graduated-fsw{
    background-color: #f1f2f3;
    height: 231px;
    padding: 40px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    width: 263px;
    border-radius: 20px;
}

.nb-rps{
    background-color: #f1f2f3;
    height: 231px;
    padding: 40px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    width: 245px;
    border-radius: 20px;
}

/******************* Hire Talent Section **********************/
.section-b-hire-talent{
    background-color: #363738;
    height: 784px;
    width:100vw;
    padding: 70px 0 70px 0;
    color: white;
}

.hiretalent-child-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hire-talent-layout{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 550px;
    width: 1000px;
    margin-top: 30px;
    margin-right: 20px;
}

.hire-talent-upper{
    height: 450px;
    width:1000px;
    
}

.hire-talent-lower{
    height: 80px;
    width: 1000px;
}

.ht-upper-banner{
    display: flex;
    flex-direction: column;
    height: 430px;
    width:1076px;
    margin: 0 0 20px -35px;
    padding: 40px 40px 80px 40px;
    background-color: #232323;
    border-radius: 20px;
    gap:20px;
}

.rp-heading{
    font-size: 22px;
    text-align: left;
    font-weight: 900;
}

.rp-subtitle{
    background-color: #363738;
    font-size: 16px;
    text-align: left;
    height: 52px;
    width:740px;
    padding: 15px 20px 15px 20px;
}
.ht-span{
    font-size: 16px;
    font-weight: 900;
    color:#28eea7;
}

.rp-texts{
    font-size: 14px;
    text-align: left;
    height: 125px;
    width: 996px;
}

.rp-texts > ol{
    height: 84px;
    width:996px;
    margin: 0 0 10px 0;
    padding: 0 0 0 40px;
    text-align: left;
}

.contact-btn{
    background-color: #363738;
    text-align: right;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    height: 46px;
    width: 996px;
    padding: 15px 20px 40px 20px;
    align-items: center;
    margin-top: 10px;
}

.hire-talent-lower{
    height: 80px;
    width: 1076px;
    
}

.ht-lower-banner{
    background-color: #232323;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    top:-29%;
    padding: 20px 40px 20px 40px;
    border-radius: 20px;
}

.ht-lower-banner > span{
    font-size: 22px;
    font-weight: 300;
    text-align: left;
}


/******************* Testimonials Section **********************/
.section-b-testimonials{
    background-color: #ffffff;
    height: 750px;
    width:1216px;
    padding: 70px 0 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials-container{
    height: 610px;
    width: 1216px;
    padding: 0 70px 0 70px;
    display: flex;
    flex-direction: column;
}


.nav-slider{
    height: 40px;
    width: 1076px;
    margin: 24px 0 0 0;
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slider-dot{
    background-color: #a5a6a9;
    width:10px;
    height: 10px;
    margin: 0 15px 5px 15px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.testimonials-slide{
    background-color: #363738;
    height: 440px;
    width: 1076px;
    padding: 20px 20px 20px 64px;
    display: flex;
    border-radius: 20px;
    margin: 40px 0 -10px 0;
}

.testimonials-contents{
    height:300px;
    width: 552px;
    margin: 40px 40px 0 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.quote-icon{
    height: 59px;
    width: 64px;
    margin: 0 0 24px 0;
    text-align: left;
}
.testimonials-p{
    height: 134px;
    width: 552px;
    margin: 0 0 32px 0;
    text-align: left;
    font-size: 16px;
    color: #ffffff;
}
.testimonial-alumni{
    width: 330px;
    height: 50px;
    display: flex;
}
.alumni-image{
    height: 50px;
    width: 50px;
    margin: 0 20px 0 0;
    text-align: left;
    border-radius: 50%;
}

.testimonials-img{
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.alumni-info >p:nth-child(1) {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.alumni-info >p:nth-child(2) {
    color: #ffffff;
    font-size: 12px;
}
.alumni-span {
    color: #28eea7;
    font-size: 14px;
    font-weight: 600;
}

.active{
    background-color: #363738;
}


/******************* Contact us Section **********************/
.section-b-contactus{
    background-color: #28eea7;
    height: 846px;
    width: 100vw;
    display: flex;
    padding: 70px 0 70px 0;
}
.contact-title{
    background-color: #363738;
    color: #fcfcfc;
}

.contactus-child-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactus-wrapper{
    height: 612px;
    width: 1076px;
    display: flex;
    gap:20px;
    margin: 50px 0 0 0;
}

.contactus-left{
    background-color: #363738;
    height: 612px;
    width: 320px;
    padding: 30px 40px 40px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactus-right{
    background-color: #363738;
    width: 736px;
    height: 612px;
    padding: 30px 40px 40px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.contactus-left-upper{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.directions-span{
    font-size: 14px;
    font-weight: 900;
    text-align: left;
    color: #a5a6a9;
}

.directions-span-lower{
    color:#f1f2f3;
    font-weight: 700;
    font-size: 14px;
}

.contactus-left-lower > p{
    color: #a5a6a9;
    text-align: left;
}

iframe{
    border-radius: 10px;
}

.contactus-right-title > p{
    color:#a5a6a9;
    font-size: 14px;
    font-weight: 900;
    text-align: left;
}
.contactus-right-title > h3{
    color:#28eea7;
    font-size: 24px;
}

.contact-form{
    color:white;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.contact-name,
.contact-email-nb{
    display: flex;
    justify-content: space-between;
}
.first-name,
.last-name,
.email,
.phone-nb{
    display: flex;
    flex-direction: column;
    height: 67px;
    width: 318px;
}
.programs-input{
    display: flex;
    flex-direction: column;
    width: 656px;
    height: 42px;
}
.courses-labels{
    display: flex;
    align-items: center;
    gap:40px;
    margin-left: 20px;
}

.program-radio{
    height: 12px;
    width: 12px;
    border: 1px solid #cccccc;
    margin: 3px 0 0 -20px;
    float: left;
    cursor: default;
}

.name-input,
.contact-email-input,
.nb-input{
    height: 45px;
}

.contact-txt-input{
    display: flex;
    flex-direction: column;
}
.txt-input{
    height: 120px;
}

.submit-btn{
    height: 44px;
    width:91px;
    padding: 15px 20px 15px 20px;
    background-color: #28eea7;
    color: #363738;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    align-self: flex-end;
}


/******************* Partners Section **********************/
.section-b{
    background-color: #ffffff;
    height: 462px;
    width:100vw;
    padding: 70px 0 70px 0;
}

.partners-container{
    height: 322px;
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 70px;
}

.section-title-cont{
    display: flex;
    height: 56px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.title-symbol{
    color:#28eea7;
    height: 56px;
    width: 41px;
    padding: 10px 0 60px 20px;
    font-weight: 900;
    font-size: 36px;
    text-align: right;
}

.sec-title{
    width: fit-content;
    height: 54px;
    padding: 10px 20px 10px 20px;
    text-align: left;
    font-weight: 900;
    font-size: 24px;
}

.dots-cont{
    height: 24px;
    width: 92px;
    margin: 0 90px 0 788px;
    display: flex;
    gap:10px;
}

.black-dot{
    height: 24px;
    width: 24px;
    background-color: #363738;
    border-radius: 50%;
}
.grey-dot{
    height: 24px;
    width: 24px;
    background-color: #dcdee1;
    border-radius: 50%;
}
.green-dot{
    height: 24px;
    width: 24px;
    background-color: #28eea7;
    border-radius: 50%;
}

.partners-subcontainer{
    width: 1100px;
    height: 216px;
    margin-top: 40px;
}

.partners-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    height: 150px;
    justify-content: space-between;
    height: fit-content;
    margin-left: 40px;
}

.partners-logo{
    height: 80px;
    max-width: 120px;
    object-fit: contain;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

/******************* Newsletter Section **********************/
.section-b-newsletter{
    background-color: #363738;
    height: 206px;
    width:100vw;
    padding: 70px 0 70px 0;
}

.newsletter-container{
    height: 66px;
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 70px;
}

.newsletter-form{
    height: 66px;
    width: 1076px;
    display: flex;
    justify-content: space-between;
}

.newsletter-title{
    height: 66px;
    width: 357px;
    line-height: 33px;
}
.newsletter-title > p{
    color: white;
    font-weight: 900;
    font-size: 22px;
}
.green-span{
    font-weight: 900;
    font-size: 22px;
    color:#28eea7;
}
.grey-span{
    line-height: 21px;
    font-size: 14px;
    text-align: left;
    color: #a5a6a9;
}

.email-input{
    background-color: #ffffff;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    height: 45px;
    width: 215px;
    border: 1px solid #cccccc;
    padding: 8px 16px 8px 16px;
}

.newsletter-input-btn{
    cursor: pointer;
    height: 45px;
    width: 126px;
    padding: 15px 20px 15px 20px;
    font-weight: 800;
    font-size: 16px;
    text-align: right;
    text-transform: uppercase;
}

.newsletter-right-input{
    display: flex;
}


/******************* Footer Section **********************/
footer{
    background-color: #232323;
    height: 442px;
    width: 100vw;
    padding:0 70px 0 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap:70px;
}

.footer-upper{
    display: flex;
    justify-content: space-between;
    height: 198px;
    margin-top: 70px;
}

.footer-lower{
    display: flex;
    height: 34px;
    width:1130px;
    justify-content: space-between;
    color: #a5a6a9;
}
.footer-copyright{
    font-size: 12px;
}
.privacy-policy{
    font-size: 14px;
    font-weight: 700;
    margin: 9px 0 9px 0;
}

.footer-left{
    display: flex;
    height: 198px;
    width:858px;
    gap:30px;
    align-items: end;
    font-size: 14px;
}

.footer-right{
    height: 198px;
    width:218px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer-right > img{
    height: 100px;
    width: 100px;
}
.footer-socials{
    height: 34px;
    width: 230px;
    margin: 64px 0 0 -12px;
    display: flex;
}
.socials-btn{
    height: 34px;
    width: 34px;
    margin: 0 0 0 12px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.footer-left-left{
    display: flex;
    flex-direction: column;
    height: 198px;
    width: 110px;
    line-height: 30px;
    color: #a5a6a9;
    font-weight: 700;
}
.footer-left-right{
    display: flex;
    flex-direction: column;
    height: 136px;
    width: 101px;
    line-height: 30px;
    color: #a5a6a9;
    font-weight: 700;
}
.footer-title{
    color: #fcfcfc;
    font-weight: 900;
}



/******************* FAQs Section **********************/
.dropdown {
    position: relative;
    display: inline-block;
  }


  .dropdown-btn {
    background-color: #232323;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    height: 70px;
    width: 1067px;
    padding: 0 24px 12px 24px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  
  .dropdown-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 16px;
    width:16px;
    margin: 12px 20px 12px 0;
  }


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #232323;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 300px;
    padding: 30px;
    width: 1065px;
    color: white;
  }

  .dropdown-content p {
    color: white;
    margin-bottom: 15px;
    height: fit-content;
  }

  .dropdown.active .dropdown-content {
    display: block;
  }

.section-b-faq{
    background-color: #363738;
    height: 546px;
    width: 100vw;
    padding: 70px 0 70px 0;
}

.faq-child-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqs-container{
    height: 313px;
    width:1076px;
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
}

.faqs-lowerbanner{
    height: 46px;
    width: 1076px;
    margin: 24px 0 0 0;
    padding: 15px 20px 15px 20px;
    background-color: #232323;
    color: #fcfcfc;
    text-transform: uppercase;
    text-align: right;
    font-size: 16px;
    font-weight: 800;
}

.faq-collection{
    height: 297px;
    width: 1076px;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.white-txt{
    color:white;
}

/******************* Progress Section **********************/
.section-b-programs{
    background-color: #28eea7;
    height: 735px;
    width: 100vw;
    padding: 70px 0 70px 0;
}

.programs-child-container{
    height: 596px;
    width: 1320px;
    padding:  0 70px 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs-row{
    height:56px;
    width:1076px;
    position: relative;
    background-color: transparent;
    display: flex;
}

.tab{
    height: 56px;
    width: 129px;
    padding: 20px 50px 20px 50px;
    cursor: pointer;
}
.tab >span{
    color:#363738;
    font-weight: 900;
    font-size: 16px;
}


.programs-contents{
    background-color: #363738;
    padding: 20px 20px 20px 20px;
    height: 446px;
    width: 1076px;
    display: flex;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.programs-left{
    height: 406px;
    width: 597px;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.programs-header{
    color: #ffffff;
    height: 31px;
    width: 567px;
    font-weight: 900;
    font-size: 16px;
    text-align: left;
}
.title-span {
    color:#28eea7;
}

.programs-left{
    font-size: 14px;
    text-align: left;
    height: 231px;
    width: 567px;
    margin: 0 0 10px 0;
    color:white;
    gap: 30px;
}

.progress-lower{
    height: 46px;
    width: 557px;
    display: flex;
    gap:20px;
}

.progress-lower-left{
    height: 46px;
    width:360px;
    padding: 10px 20px 10px 20px;
    display: flex;
    background-color: #232323;
    padding: 10px 20px 10px 20px;
}
.program-span{
    color:#28eea7;
    font-weight: 900;
}

.progress-btn{
    background-color: #232323;
    text-align: right;
    font-weight: 800;
    text-transform: uppercase;
    height:46px;
    width: 197px;
    padding: 15px 20px 15px 20px;
    color: white;
    font-weight: 800;
    display: flex;
    justify-content: flex-end;
}

.programs-right{
    height: 400px;
    width: 400px;
    border-radius: 10px;
    margin-left: 70px;
}

.active-program{
    background-color: #363738;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.program-fsw-span{
    color:#28eea7;
}

.program-fsw-span{
    color:#28eea7;
}